body {
  margin: 0px;
  padding: 0px;
  position: absolute;
}
header {
  height: 10dvh;
  width: 100dvw;
  background-color: rgb(0,128,0,1);
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  color: white;
  font-size: 5dvh;
}
.main {
  margin-top: 5dvh;
  margin-left: 15dvw;
  width: 70dvw;
  height: 80dvh;
  border: 1px solid black;
}