body {
  margin: 0px;
  padding: 0px;
  position: absolute;
}
header {
  height: 10dvh;
  width: 100dvw;
  background-color: rgb(0,128,0,1);
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  color: white;
  font-size: 5dvh;
}
.main {
  margin-top: 5dvh;
  margin-left: 15dvw;
  width: 70dvw;
  height: 80dvh;
  border: 1px solid black;
  display: flex;
  flex-direction:column;
  align-items: center;

}
.main .barraBusqueda{
  width:98%;
  border: 1px solid red;
}
.articulos{
  margin-top: 2dvh;
  width:98%;
  border: 1px solid red;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow-x: auto;
}
@media screen and (min-width: 1051px) {
  .barraBusqueda{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .articulo{
    flex: 1 0 21%;
    margin: 2%;
    border: 1px solid black;
    text-align: center;
  }
  .formRow {
    margin-top: 1dvh;
    margin-bottom: 1dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align:left;
  }
  .barraBusqueda .botones {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:1050px) {

  .barraBusqueda .botones {
    border: 1px solid blue;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .formRow {
    margin-top: 0.4dvh;
    margin-bottom: 0.4dvh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align:left;
  }
  .barraBusqueda{
    display:grid;
    grid-template-rows: repeat(3, 0.4fr);
  }
  .articulo{
    width:100%;
    flex: 1 0 100%;
    margin: 2%;
    border: 1px solid black;
    text-align: center;
    overflow-x:wrap;
  }
  .main {
    font-size: 3vh;
  }
  input {
    font-size: 2vh;
    width:100%;
  }
  select{
    font-size: 2vh;
    width: 100%;
  }
  .modal{
    font-size: 2vh;
  }
}
.barraBusqueda .busqueda {
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.formContainer {
  display: block;
}
label {
  white-space: initial;
}