<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Tienda de componentes electrónicos</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  </head>
  <body>
    <header>
      <p>Mi tiendita de componentes</p>
    </header>
    <section class="main">
      <!---Acá va el layout de la tiendita-->
      <article class="barraBusqueda">
        <div class="busquedaNombre busqueda">
          <label>Nombre: </label>
          <input type="text" id="nombreArticulo" />
        </div>
        <div class="busquedaCategoria busqueda">
          <label>Categoría:</label>
          <select id="categoria" class="busqueda">
            <option value="none" selected>Ninguna</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
        </div>
        <div class="botonBuscar botones">
          <input type="button" id="consultar" value="Consultar"/>
          <input type="button" id="agregarCategoria" value="Agregar Categoría"/>
          <input type="button" id="agregarElemento" value="Agregar Elemento"/>
        </div>
      </article>
      <article class="articulos"></article>
    </section>
  <!--Modal de agregar categoría-->
  <div id="modalCategoria" class="modal">
    <div class="formContainer">
      <div class="formRow">
        <label>Nombre de categoría</label>
        <input type="text" id="nombreCategoria"/>
      </div>
    </div>
    <div class="formRow">
      <a href="#" rel="modal:close">Cerrar</a>
      <input type="button" value="Crear" id="btnCrear"/>
    </div>
  </div>
  <!--Modal de agregar nuevo producto-->
  <div id="modalProducto" class="modal">
    <div class="formContainer">
      <div class="formRow">
        <label>Nombre</label>
        <input type="text" id="nombreProducto"/>
      </div>
      <div class="formRow">
        <label>Descripción</label>
        <input type="text" id="descripcionProducto"/>
      </div>
      <div class="formRow">
        <label>Cantidad</label>
        <input type="number" id="cantidadInicial" min="0" step="1"/>
      </div>
      <div class="formRow">
        <label>Adjunte imagen</label>
        <input type="file" id="imagen" name="imagen" accept="image/png, image/jpeg" />
      </div>
    </div>
    <div class="formRow">
      <a href="#" rel="modal:close">Cerrar</a>
      <input type="button" value="Crear" id="btnCrearProducto"/>
    </div>
  </div>
  </body>
</html>